<!-- 메인화면 페이지 -->
<!D0CTYPE html>
{% load static %}
{% load socialaccount %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>대문</title>
    <link rel="stylesheet" href="{% static 'one_pages/bootstrap/bootstrap.min.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/7c6eec18eb.js" crossorigin="anonymous"></script>
</head>
<div class="container">

<body>
    <!-- 네비게이션바 -->
 <nav class="navbar navbar-expand-lg bg-light">

  <div class="container-fluid">
    <a class="navbar-brand" href="/">Digital Bridge</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/class/">강의</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home">게시판</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.username }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/accounts/logout/">Log out</a></li>
          </ul>
        </li>
       {% else %}
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
  로그인&회원가입
</button>
  {%  endif %}
      </ul>

               <!-- 네비게이션바 -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="fa-solid fa-right-to-bracket"></i>&nbsp 사이트 이름</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <a role="button" class="btn btn-outline-dark" href="{%  provider_login_url 'google' %}"><i class="fa-brands fa-google"></i>&nbsp&nbsp 구글로 로그인하기</a>
                <a role="button" class="btn btn-outline-dark" href="/accounts/login/"><i class="fa-solid fa-user"></i>&nbsp&nbsp 로그인하기</a>
            </div>
            <div class="col-md-6">
                <a role="button" class="btn btn-outline-dark" href="/accounts/signup/"><i class="fa-solid fa-user"></i>&nbsp&nbsp 회원가입 하기</a>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</nav>
<!-- Modal -->

 <!-- 캐러셀 -->
<nav>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner my-4">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{% static 'IMG/map1.jpg' %}" class="d-block w-105" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'IMG/logo.jpg' %}" class="d-block w-150" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'IMG/logo2.jpg' %}" class="d-block w-150" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    <!-- 캐러셀 -->
    <!-- 본문 -->
</nav>
 <p><h3>처음 오셨다구요?!</h3><br>
    <h3> 모르시겠으면 우선 3가지중에서부터 시작해봐요</h3><br>
<div class="container">
 <button type="button" class="btm_image" id="img_btn"><img src="{% static 'IMG/naver.jpg' %}" class="rounded float-start" alt="..."></button>
  <button type="button" class="btm_image" id="img_btn"><img src="{% static 'IMG/youtube.jpg' %}" class="rounded mx-auto d-block" alt="..."></button>
  <button type="button" class="btm_image" id="img_btn"><img src="{% static 'IMG/24.jpg' %}" class="rounded float-end" alt="..."></button>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
    <!-- 본문 -->
</div>
</html>